<h1 class=text-center>Here are your lists</h1>

<ul>
<% @lists.each do |list| %>


<li class="text-center"><%= link_to list.name, list_path(list) %></li>


<% end  %>

</ul>


<%= cl_image_tag("8B2095BC-3925-4C5E-97FD-70D1AE2F7301_1_105_c_ia2cph", width: 400, height: 300, crop: :fill) %>

<%= link_to "create a new list", new_list_path, class: "btn btn-primary" %>
