<h1 class=text-center>Here are your lists</h1>

<ul>
<% @lists.each do |list| %>


<li class="text-center"><%= link_to list.name, list_path(list) %></li>


<% end  %>

</ul>


<%= cl_image_tag("photos_personnelles_6539AFC2-190D-433C-B1DA-642D637731A7_1_105_c_dnj6jt-same_w8slax", width: 400, height: 300, crop: :fill) %>

<%= link_to "create a new list", new_list_path, class: "btn btn-primary" %>
